* {

    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alkalami', serif;
    background-color:rgb(78 65 65 / 23%);
}

form {
    margin: 50px;
    padding: 40px;
    box-shadow: 10px 10px 20px rgba(98, 98, 98, 0.24), -10px -10px 20px rgba(111, 110, 110, 0.322);
    border-radius: 20px;
    border-top: 10px solid #0093e9;
    background-color: white;
}

form h1 {
    text-align: center;
}

input[type=text],
input[type=email],
input[type=number] {
    width: 98%;
}

input[type=radio]{
margin: 20px;
}

label {
    display: block;
}

.form-group {
    padding: 5px;
    margin: 5px;
}
select{
    width: 98%;
    max-width: 98%;
}

textarea {
    padding: 10px;
    margin: 5px;
    max-width: 97%;
}

.form-control {
    padding: 10px;
    margin: 5px;
}

.star-icon input {
    display: none;
}

.star-icon label {
    float: right;
    font-size: 30px;
    color: rgba(128, 103, 103, 0.438);
    cursor: pointer;
    margin: 0 25px;
    padding: 12px;
}

.star-icon input:checked~label {
    color: #0093e9;
}

.star-icon input:not(:checked)~label:hover,
.star-icon input:not(:checked)~label:hover~label {
    color: #0093e9;
}

.star-icon label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

button {
    background-color: #0093e9;
    width: 100%;
    color: white;
    border-color: #0093e9;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    form {
        width: 100%;
        margin: auto;
    }

}
@media screen and (max-width: 730px){
    .star-icon{
        display: flex;
      flex-wrap: wrap;
    }
}
